<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Scripts/back-button-detector.js"></script>
    <title>@ViewBag.Title - Research gate</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/_Layout.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">


        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top flex-container">
            <div class="container justify-content-lg-evenly" role="navigation">

                <i style="flex-grow: 8">
                    <a href="~/Home/Index" class="navbar-brand mb-0-0 fw-bold">Research Gate</a>
                </i>
                <i style="flex-grow: 1">
                    <a href="~/Search/Index" style="text-decoration: none; color: white;"><i class="fa fa-search"></i></a>
                </i>
                <button type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        class="navbar-toggler"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation" style="flex-grow: 1 ">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collaps navbar-collapse"
                     id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item action">
                            <a href="~/Home/Index" class="nav-link active" style="margin-right:50px">
                                Home
                            </a>
                        </li>
                        @{
                            if (Session["id"] != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        @if (Session["Fname"] == null)
                                        {
                                            <h>User</h>
                                        }
                                        else
                                        { <h>@Session["Fname"]</h>}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark"
                                        style="background-color:#222"
                                        aria-labelledby="navbarDropdown">

                                        <li class="nav-item action">
                                            <a href="~/Profile/Index/@Session["id"]"
                                               class="nav-link active">My Profile</a>
                                        </li>

                                        <li class="nav-item action">
                                            <a href="~/Paper/Upload"
                                               class="nav-link active">Upload Paper</a>
                                        </li>

                                        <li class="nav-item action">
                                            <a href="~/Profile/EditProfile"
                                               class="nav-link active">Edit Profile</a>
                                        </li>

                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </li>
                            }
                            else
                            {
                                @Html.Partial("_LoginPartial")
                            }
                        }

                    </ul>
                </div>

            </div>
        </nav>




        <div class="container body-content">
            @RenderBody()
        </div>


        <footer>
            <div>

                <table class="table caption-top">
                    <thead style="border:none;">
                        <tr style="border:none;">
                            <th class="copyrights" style="border:none;">
                                &copy; @DateTime.Now.Year <a href="~/Home/Index" title="Research Gate">Research Gate</a>. All
                                rights reserved.
                            </th>
                            <th scope="col" style="border:none;">
                                <a href="~/Home/about" class="about-btn" title="about">
                                    About Us
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/chosen")
    @RenderSection("Scripts", required: false)

</body>
</html>
