@using Research_Gate.Controllers
@model IEnumerable<Research_Gate.Models.Author>
@{
    ViewBag.Title = "Search";
}

<div class="search-container">
    <input type="text" placeholder="Search author ........" name="SearchBox" id="SearchBox" class="search-textbox" />
    <select name="SearchBySelector" id="SearchBySelector" class="SearchBySelector">
        <option value="SearchByName" selected>Name</option>
        <option value="SearchByEmail">Email</option>
        <option value="SearchByUniversity">University</option>
    </select>
    <input type="button" name="Search" id="Submit" class="search-button" value="Search" />
    <div class="separator"></div>
    <h1 class="not-found" id="not-found">Not found!</h1>
    <div class="result-container">
        @foreach (var author in Model)
        {
            <div class="result-box">
                <a class="profile-link-name" target="_blank" href="@Url.Action("Index", "Profile", new {id = author.Author_id})">
                    <img src="@Url.Content(FileUtility.GetAuthorImage(author.Img_path))" class="author-image" id="imgs" />
                </a>
                <div>
                    <a class="profile-link-name" target="_blank" href="@Url.Action("Index", "Profile", new { id = author.Author_id })">
                        <span class="values">@author.Fname @author.Lname</span>
                    </a>
                </div>
                <div>
                    <span class="labels">Institution</span>
                    <span class="values">@author.University</span>
                </div>
                <div>
                    <span class="labels">Department</span>
                    <span class="values">@author.Department</span>
                </div>
                <div>
                    <a class="profile-link-line" target="_blank" href="@Url.Action("Index", "Profile", new { id = author.Author_id })">
                        <span class="values">View profile</span>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {

            if ($(".result-box").length > 0) {
            
                $("#not-found").fadeOut(200);
                $(".result-box").fadeIn(1200);

            } else if (document.referrer.includes("Search/Index")){
                $("#not-found").fadeIn(500);
            }
        });

        $("#Submit").on('click', function () {

            var searchBoxValue = $("#SearchBox").val();
            searchBoxValue = (searchBoxValue == '' ? 0 : searchBoxValue);

            $.ajax({
                url: "/Search/" + $("#SearchBySelector").val() + "/" + searchBoxValue,
                type: 'POST',
                async: true,
                cache: false,
                success: function (result) {
                    console.log(result);
                    var w = window.open('/Search/Index', '_self');
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            });
        });

        $(window).on('load', function () {
            $.ajax({
                url: "/Search/ClearResults/",
                type: 'POST',
                async: true,
                cache: false,
                success: function (result) {
                    
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            });
        });

    </script>
}
