@using Research_Gate.Controllers
@using Research_Gate.Models
@using Research_Gate.ViewModels
@model Research_Gate.Models.Paper
@{
    ViewBag.Title = Model.Title;
    Author au = Model.Participation.ToList().First();
}

<style>
    .wrapper {
        padding-top: 3.5em !important;
    }
    
</style>

<div class="paper-container">

    <div class="paper-info-container">

        <div>
            <div class="paper-name">@Model.Title</div>
            <div class="paper-publish-date">@Model.Publish_date.ToString("dddd, dd MMMM yyyy")</div>
            <div class="author-labels">Authors:</div>
        </div>

        <div class="participated-authors">

            @foreach (Author author in Model.Participation)
            {
                <div class="author">
                    <a class="profile-link-name" target="_blank" href="@Url.Action("Index", "Profile", new { id = author.Author_id })">
                        <img src="@Url.Content(FileUtility.GetAuthorImage(author.Image))" class="author-img" id="imgs" />
                    </a>
                    <div>
                        <div>
                            <a class="profile-link-name" target="_blank" href="@Url.Action("Index", "Profile", new { id = author.Author_id })">
                                <span class="author-name">@author.Fname @author.Lname</span>
                            </a>
                        </div>
                        <div>
                            <span class="author-uni">@author.University</span>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="paper-view-container">
        <embed class="paper-file" src="@Url.Content(FileUtility.GetPaperFile(Model.File))" title="Paper1" />
    </div>
    
    <div class="paper-interactions-container">

        <div class="like-actions">
            <div class="like-button" id="like-button">
                <div class="button-style">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <span class="number-of">0</span>
            </div>

            <div class="dislike-button" id="dislike-button">
                <div class="button-style">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <span class="number-of">0</span>
            </div>
        </div>
        <hr />

        <div class="comment-box">

            <a class="profile-link-name" style="margin-right: 10px;" target="_blank" href="@Url.Action("Index", "Profile", new {id = au.Author_id})">
                <img src="@Url.Content(FileUtility.GetAuthorImage(au.Image))" class="image" id="imgs" />
            </a>
            <textarea id="comment-text-box"></textarea>
            <input type="button" name="Comment" value="Comment" id="comment-button" />

        </div>
        <hr />
        <div id="comments">
            <div class="comment">

                <table>
                    <tr>
                        <td rowspan="2">
                            <a class="profile-link-name" style="margin-right: 10px;" target="_blank" href="@Url.Action("Index", "Profile", new { id = au.Author_id })">
                                <img src="@Url.Content(FileUtility.GetAuthorImage(au.Image))" class="image" />
                            </a>
                        </td>
                        <td>
                            <a class="profile-link-name" style="margin-right: 10px; display: block;" target="_blank" href="@Url.Action("Index", "Profile", new { id = au.Author_id })">
                                <span class="comment-author-name">@au.Fname @au.Lname</span>
                            </a>
                        </td>
                        <td class="comment-time">
                            2020-01-01 10:10:10 AM

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="comment-content" contenteditable="false">Commmmmmeeeeeennnnnnnntttt</div>
                        </td>
                        <td class="edit-button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </td>
                        <td class="delete-button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                </table>
                
                <hr />
            </div>
        </div>
    </div>
 </div>

@section Scripts
{
    <script>
        $("#like-button").on('click', function () {
            $("#like-button .button-style i").attr("style", ($("#like-button .button-style i").attr("style") === "color:blue;" ? "color:black;" : "color:blue;"));
        });


        $("#dislike-button").on('click', function () {
            $("#dislike-button .button-style i").attr("style", ($("#dislike-button .button-style i").attr("style") === "color:blue;" ? "color:black;" : "color:blue;"));
        });
    </script>
}
